@import url("units.css");
@import url("menu.css");

body, html {
    margin: 0%;

    background-color: rgb(35, 35, 35);
}

h1 {
    color: white;
    font: bold 2.3em "system-ui";
}

/*Main content of each page*/

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
}