.message {
    width: 100%;
    padding: 26px;
    margin-bottom: 30px;

    display: flex;
    text-align: center;
    justify-content: center;
    
    color: white;
    font: bold 1.2rem "sytem-ui"; 
}